@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627094510193') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e611";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-jiantou:before {
  content: "\e618";
}

.icon-bofang:before {
  content: "\e693";
}

.icon-jiantou1:before {
  content: "\e663";
}

