@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1640075705520') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e69e";
}

.icon-weibo:before {
  content: "\e73c";
}

.icon-erweima:before {
  content: "\eaf1";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e608";
}

.icon-icon-xiaomiguishu:before {
  content: "\e613";
}

